[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json
_pycache_
*.pyc
Scripts
scripts
/Scripts
/scripts
Include
include
/Include
/include
Lib
lib
/Lib
/lib
__pycache__
/__pycache__
tcl
/tcl
pip*.json
/pip*.json